/* @font-face
{
    font-family: '1';
    font-display: block;
    font-style:normal;
    src:url(../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.eot);
    src:url(../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.eot@)format("embedded-opentype"),
        url(../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.woff2)format("woff2"),
        url(../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.ttf)format("truetype"),
        url(../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.svg)format("svg");
}

 */